{% extends 'base.html' %}


{% load staticfiles %}


{% block title %}DIVAS {% endblock%}


{% block nav_class_index %}active{% endblock%}



{% block content %}
<div class="container">
  <div class="jumbotron">
	<h1 align="center"><i><b>Школа DIVAS</b></i></h1>
	<p align="justify">Хочешь соблазнительно и сексуально двигаться?
        Давно хотела заняться собой? Приходи танцевать!</p>
        <p align="justify">- мягкие и пластичные движения</p>
        <p align="justify">- танцевальные связки</p>
        <p align="justify">- силовые нагрузки</p>
        <p align="justify">- растяжка</p>
        <p align="justify">Как результат - подтянутое и гибкое тело, готовое ловить
        заинтересованные взгляды и очаровывать окружающих ;)</p>
        <p align="justify">Занятия по стрип пластике - лучший способ провести вечер с
        удовольствием и пользой для своего тела!</p>
        <p align="justify">Тебе понравится ;)</p>
        <p align="justify">Звони и запишись на пробное занятие:</p>
        <p align="justify">097 553 66 67</p>
        <p align="justify">095 558 98 37 Дарина</p>
    <p><a class="btn btn-primary btn-lg"
        href="https://www.youtube.com/channel/UC5tq6fcDiEsm-UDVclZ7bIg"
        role="button">
    <span class="glyphicon glyphicon-education" aria-hidden="true">
    </span> DIVAS Youtube</a>
    <a class="btn btn-primary btn-lg"
        href="https://www.instagram.com/darina.divas.dance/"
        role="button">
    <span class="glyphicon glyphicon-education" aria-hidden="true">
    </span> DIVAS Instagram</a></p>
  </div>
</div>
{% endblock content %}